header {
       color: #FF0000;
       height: 70px;
       width: 100%;
       border: bottom 1px #CCCCCC;
       text-align: left;
       display: flex;
       align-content: center;
       margin-left: 20px;
}
